/*======================================================================
      Global
  ======================================================================*/
* {
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  height: 100%;
  font-family: "microsoft yahei", Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #000;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0  auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p, a, button, span {
  -webkit-font-smoothing: antialiased;
}

input {
  outline: none;
}

.pa {
  position: absolute;
}

/* psd width `divided` 10 */
/* 750/10=75 */
.page {
  display: none;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.full-size, .scene, .loading .loading-num, .main, .scene01 .mask, .scene01 .scene-bd, .scene01 .content-light, .scene02 .switch, .scene-final, .scene-final .bd, .scene-final .bd img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loading {
  z-index: 1000;
  will-change: opacity;
}
.loading .loading-num {
  z-index: 10;
  background: no-repeat center center;
  background-size: 140% 140%;
}
.loading .loading-num .bd {
  position: absolute;
  top: 926px;
  left: 0;
  right: 0;
  text-align: center;
}
.loading .loading-num .bd * {
  display: inline-block;
  font-size: 0;
}
.loading .loading-num .bd .num {
  display: none;
  width: 35px;
  height: 81px;
  background: no-repeat;
  background-size: 100% 1000%;
}
.loading .loading-num .bd .percent {
  width: 84px;
  height: 81px;
  position: relative;
}
.loading .loading-num .bd .circle01 {
  display: block;
  width: 34px;
  height: 34px;
  background: no-repeat;
  -webkit-animation: rotate .6s infinite linear;
          animation: rotate .6s infinite linear;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  position: absolute;
  top: 0;
  left: 0;
}
.loading .loading-num .bd .circle02 {
  display: block;
  width: 35px;
  height: 35px;
  background: no-repeat;
  -webkit-animation: rotateReverse .6s infinite linear;
          animation: rotateReverse .6s infinite linear;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  position: absolute;
  right: 15px;
  bottom: 7px;
}
.loading .loading-num .bd .num0 {
  display: inline-block;
  background-position: 0 0;
}
.loading .loading-num .bd .num1 {
  display: inline-block;
  background-position: 0 -81px;
}
.loading .loading-num .bd .num2 {
  display: inline-block;
  background-position: 0 -162px;
}
.loading .loading-num .bd .num3 {
  display: inline-block;
  background-position: 0 -243px;
}
.loading .loading-num .bd .num4 {
  display: inline-block;
  background-position: 0 -324px;
}
.loading .loading-num .bd .num5 {
  display: inline-block;
  background-position: 0 -405px;
}
.loading .loading-num .bd .num6 {
  display: inline-block;
  background-position: 0 -486px;
}
.loading .loading-num .bd .num7 {
  display: inline-block;
  background-position: 0 -567px;
}
.loading .loading-num .bd .num8 {
  display: inline-block;
  background-position: 0 -648px;
}
.loading .loading-num .bd .num9 {
  display: inline-block;
  background-position: 0 -729px;
}
.loading .loading-bd {
  height: 100%;
  background: no-repeat center center;
  background-size: 140% 140%;
}
.loading .loading-bd .machine {
  position: absolute;
  top: 659px;
  left: 327px;
  -webkit-transform: scale(0.0925);
          transform: scale(0.0925);
  -webkit-transform-origin: 193px 164px;
          transform-origin: 193px 164px;
  will-change: transform;
  opacity: 0;
}
.loading .loading-bd .txt {
  position: absolute;
  top: 0;
  left: 232px;
  -webkit-transform-origin: 285.4px 824.5px;
          transform-origin: 285.4px 824.5px;
  will-change: transform;
  opacity: 0;
}
.loading.prepare .machine, .loading.prepare .txt {
  opacity: 1;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
.loading.active {
  opacity: 0;
  -webkit-transition: opacity .3s 1.7s;
  transition: opacity .3s 1.7s;
}
.loading.active .loading-bd {
  background-size: 100% 100%;
  -webkit-transition: all 2.8s .2s;
  transition: all 2.8s .2s;
}
.loading.active .loading-bd .machine {
  -webkit-transform: scale(6.105);
          transform: scale(6.105);
  -webkit-transition: all 3.2s ease-in;
  transition: all 3.2s ease-in;
}
.loading.active .loading-bd .txt {
  -webkit-transform: scale(66);
          transform: scale(66);
  -webkit-transition: all 3.2s ease-in;
  transition: all 3.2s ease-in;
}

.main {
  z-index: 10;
}
.main.leave {
  opacity: 0;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.scene01 .mask {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  z-index: 100;
}
.scene01 .mask img {
  display: block;
}
.scene01 .scene-bd {
  z-index: 20;
  background: no-repeat;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.scene01 .light01 {
  opacity: 0;
  left: 415px;
  top: 538px;
}
.scene01 .light02 {
  opacity: 0;
  left: 274px;
  top: 1137px;
}
.scene01 .light03 {
  opacity: 0;
  left: 317px;
  top: 1197px;
}
.scene01 .jiaoshoujia {
  left: 115px;
  top: 605px;
}
.scene01 .circle01 {
  left: 638px;
  top: 1066px;
}
.scene01 .circle02 {
  left: 293px;
  top: 488px;
}
.scene01 .circle03 {
  left: 505px;
  top: 1305px;
}
.scene01 .circle04 {
  left: 525px;
  top: 1251px;
}
.scene01 .circle05 {
  left: 254px;
  top: 805px;
}
.scene01 .pointer01 {
  left: 646px;
  top: 728px;
  -webkit-transform-origin: 29px 5px;
          transform-origin: 29px 5px;
}
.scene01 .pointer02 {
  left: 738px;
  top: 671px;
  -webkit-transform-origin: 10px 14px;
          transform-origin: 10px 14px;
}
.scene01 .main-circle01 {
  left: 350px;
  top: 906px;
}
.scene01 .main-circle02 {
  left: 623px;
  top: 906px;
}
.scene01 .diaoti {
  position: absolute;
  left: 359px;
  top: 0;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}
.scene01 .machine-switch {
  left: 441px;
  top: 861px;
  width: 200px;
  height: 200px;
  background: no-repeat center center;
  background-size: 68px 68px;
  z-index: 1000;
}
.scene01 .machine-switch .bd {
  width: 200px;
  height: 200px;
  background: no-repeat center center;
  background-size: 68px 68px;
  -webkit-animation: light 1.4s infinite;
          animation: light 1.4s infinite;
}
.scene01 .video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.scene01 .video .hd, .scene01 .video .ft {
  display: block;
  position: relative;
  z-index: 10;
}
.scene01 .video .bd {
  margin: -3px 18px 0 18px;
  height: 0;
  background: no-repeat;
}
.scene01 .video .ft {
  margin: -3px 0 0 0;
}
.scene01 .content-light {
  z-index: 30;
  opacity: 0;
  margin-top: 100%;
}
.scene01 .content {
  position: absolute;
  top: 1920px;
  left: 98px;
  width: 880px;
  height: 1920px;
  overflow: hidden;
  will-change: transform;
  z-index: 40;
}
.scene01 .content .bd {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10410px;
  text-align: center;
}
.scene01 .content .bd * {
  vertical-align: top;
}
.scene01 .content .arrow {
  -webkit-animation: nextPage 1.2s linear infinite;
}
.scene01 .content .arrow01 {
  padding: 110px 0 0 0;
}
.scene01 .content .arrow02 {
  -webkit-animation: nextPage 1.2s .2s linear infinite;
  padding-bottom: 10px;
}
.scene01.active .mask {
  -webkit-transform: scale(2.3);
          transform: scale(2.3);
  -webkit-transition: all 2s;
  transition: all 2s;
}
.scene01.active .scene-bd {
  -webkit-transform: scale(1.82);
          transform: scale(1.82);
  -webkit-transition: all 2s;
  transition: all 2s;
}
.scene01.active .diaoti {
  -webkit-transform: translateY(45%);
          transform: translateY(45%);
  -webkit-transition: all 2.8s 0.1s cubic-bezier(0.42, 0.23, 0.44, 1);
  transition: all 2.8s 0.1s cubic-bezier(0.42, 0.23, 0.44, 1);
}
.scene01.videoPrepare .machine-switch {
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}
.scene01.videoPrepare .mask {
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}
.scene01.videoPrepare .content {
  top: 1538px;
  -webkit-transition: all 2s 2.3s;
  transition: all 2s 2.3s;
}
.scene01.videoPrepare .content-light {
  margin: 0;
  opacity: 1;
  -webkit-transition: opacity .6s 2.6s;
  transition: opacity .6s 2.6s;
}
.scene01.videoPrepare .diaoti {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 4s 1s;
  transition: all 4s 1s;
}
.scene01.videoPrepare .video {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 2.5s 1s;
  transition: all 2.5s 1s;
}
.scene01.videoPrepare .video .bd {
  height: 642px;
  -webkit-transition: all 2.3s 2.6s;
  transition: all 2.3s 2.6s;
}
.scene01.videoPrepare .light01 {
  -webkit-animation: light 1s .5s infinite linear;
          animation: light 1s .5s infinite linear;
}
.scene01.videoPrepare .light02 {
  -webkit-animation: light 1s .8s infinite linear;
          animation: light 1s .8s infinite linear;
}
.scene01.videoPrepare .light03 {
  -webkit-animation: light 1s .9s infinite linear;
          animation: light 1s .9s infinite linear;
}
.scene01.videoPrepare .circle01 {
  -webkit-animation: rotateReverse 5s infinite linear;
          animation: rotateReverse 5s infinite linear;
}
.scene01.videoPrepare .circle02 {
  -webkit-animation: rotate 3s infinite linear;
          animation: rotate 3s infinite linear;
}
.scene01.videoPrepare .circle03 {
  -webkit-animation: rotate .5s infinite linear;
          animation: rotate .5s infinite linear;
}
.scene01.videoPrepare .circle04 {
  -webkit-animation: rotateReverse 1.5s infinite linear;
          animation: rotateReverse 1.5s infinite linear;
}
.scene01.videoPrepare .circle05 {
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
}
.scene01.videoPrepare .pointer01 {
  -webkit-animation: pointerRotate 2s infinite linear;
          animation: pointerRotate 2s infinite linear;
  -webkit-transform-origin: 29px 5px;
          transform-origin: 29px 5px;
}
.scene01.videoPrepare .pointer02 {
  -webkit-animation: pointerRotate 2s .5s infinite linear;
          animation: pointerRotate 2s .5s infinite linear;
  -webkit-transform-origin: 10px 14px;
          transform-origin: 10px 14px;
}
.scene01.videoPrepare .main-circle01 {
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
}
.scene01.videoPrepare .main-circle02 {
  -webkit-animation: rotateReverse 2s infinite linear;
          animation: rotateReverse 2s infinite linear;
}
.scene01.videoPrepare .flash01 {
  -webkit-animation: flash .2s infinite linear;
          animation: flash .2s infinite linear;
}
.scene01.videoPrepare .flash02 {
  -webkit-animation: flash .2s infinite linear;
          animation: flash .2s infinite linear;
}
.scene01.videoPrepare .flash03 {
  -webkit-animation: flash .2s infinite linear;
          animation: flash .2s infinite linear;
}
.scene01.videoPrepare .flash04 {
  -webkit-animation: flash .2s infinite linear;
          animation: flash .2s infinite linear;
}
.scene01.showContent .video {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.scene01.showContent .content {
  top: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-overflow-scrolling: touch;
}
.scene01.showContent .arrow-wrap {
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.scene01.leave {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 1.3s .2s;
  transition: all 1.3s .2s;
}
.scene01.noAnimation .light01 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .light02 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .light03 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .circle01 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .circle02 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .circle03 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .circle04 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .circle05 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .pointer01 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .pointer02 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .main-circle01 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .main-circle02 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .flash01 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .flash02 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .flash03 {
  -webkit-animation: none;
          animation: none;
}
.scene01.noAnimation .flash04 {
  -webkit-animation: none;
          animation: none;
}

.scene02 {
  display: none;
  opacity: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: opacity .6s, -webkit-transform 1.8s;
  transition: opacity .6s, -webkit-transform 1.8s;
  transition: opacity .6s, transform 1.8s;
  transition: opacity .6s, transform 1.8s, -webkit-transform 1.8s;
}
.scene02 .mask-left {
  position: absolute;
  left: -638px;
  top: -248px;
  width: 2356px;
  height: 2416px;
  z-index: 80;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}
.scene02 .mask-right {
  position: absolute;
  left: -638px;
  top: -248px;
  width: 2356px;
  height: 2416px;
  z-index: 80;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}
.scene02 .mask {
  position: absolute;
  left: -638px;
  top: -248px;
  width: 2356px;
  height: 2416px;
  z-index: 100;
}
.scene02 .switch {
  opacity: 0;
}
.scene02 .switch .bd {
  position: absolute;
  left: 0;
  top: 430px;
  -webkit-transform: scale(4.4);
          transform: scale(4.4);
  -webkit-transform-origin: 540px 610px;
          transform-origin: 540px 610px;
}
.scene02 .switch .item {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 1.8s 1.4s;
  transition: all 1.8s 1.4s;
  -webkit-transform: rotateZ(42deg);
          transform: rotateZ(42deg);
}
.scene02 .switch .item01 {
  -webkit-transform-origin: 395px 313px;
          transform-origin: 395px 313px;
  z-index: 10;
}
.scene02 .switch .item02 {
  -webkit-transform-origin: 708px 313px;
          transform-origin: 708px 313px;
  z-index: 9;
}
.scene02 .switch .item03 {
  -webkit-transform-origin: 849px 580px;
          transform-origin: 849px 580px;
  z-index: 8;
}
.scene02 .switch .item04 {
  -webkit-transform-origin: 688px 848px;
          transform-origin: 688px 848px;
  z-index: 7;
}
.scene02 .switch .item05 {
  -webkit-transform-origin: 399px 829px;
          transform-origin: 399px 829px;
  z-index: 6;
}
.scene02 .switch .item06 {
  -webkit-transform-origin: 237px 588px;
          transform-origin: 237px 588px;
  z-index: 5;
}
.scene02 .switch .item06-mask {
  -webkit-transform-origin: 237px 588px;
          transform-origin: 237px 588px;
  z-index: 11;
}
.scene02.active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 1;
}
.scene02.active .mask-left, .scene02.active .mask-right {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 3s 1.4s ease-out;
  transition: all 3s 1.4s ease-out;
}
.scene02.active .switch {
  opacity: 1;
}
.scene02.active .switch .item {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}
.scene02.leave {
  -webkit-transform: scale(10);
          transform: scale(10);
  transform-orgin: center center;
  opacity: 0;
  -webkit-transition: opacity 1.2s .3s, -webkit-transform 3s;
  transition: opacity 1.2s .3s, -webkit-transform 3s;
  transition: opacity 1.2s .3s, transform 3s;
  transition: opacity 1.2s .3s, transform 3s, -webkit-transform 3s;
}

.scene-final {
  display: none;
  z-index: 0;
  overflow: hidden;
}
.scene-final .toucharea {
  position: absolute;
  left: 258px;
  top: 683px;
  width: 476px;
  height: 264px;
  z-index: 100;
}
.scene-final .bd {
  opacity: 1;
  -webkit-transform: scale(9);
          transform: scale(9);
  -webkit-transform-origin: 607px 1057px;
          transform-origin: 607px 1057px;
}
.scene-final .txt {
  position: absolute;
  left: 0;
  right: 0;
  top: 1520px;
  opacity: 0;
  -webkit-transition: all 1.4s 2s;
  transition: all 1.4s 2s;
  text-align: center;
}
.scene-final .txt02 {
  position: absolute;
  left: 0;
  right: 0;
  top: 1597px;
  opacity: 0;
  -webkit-transition: all 1.4s 2.4s;
  transition: all 1.4s 2.4s;
  text-align: center;
}
.scene-final.active {
  z-index: 1;
  opacity: 1;
}
.scene-final.active .bd {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 2s .2s;
  transition: -webkit-transform 2s .2s;
  transition: transform 2s .2s;
  transition: transform 2s .2s, -webkit-transform 2s .2s;
}
.scene-final.active .txt {
  top: 1500px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.scene-final.active .txt02 {
  top: 1577px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

@-webkit-keyframes nextPage {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: translateY(-20px);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(-40px);
    opacity: 0;
  }
}
/*======================================================================
      Responsive
  ======================================================================*/
